*/**/node_modules/
*/**/dist/
*/**/build/
*/**/coverage/
*/**/lib/
*/**/temp/
*/**/tmp/
*/**/logs/
*/**/out/
*/**/target/
*/**/public/
*/**/bin/
*/**/deploy/
*/**/release/
*/**/releases/
*/**/artifacts/
*/**/cache/
*/**/temp/
*/**/tmp/
*/**/log/
*/**/logs/
*/**/*.log
*/**/*.log.*
*/**/npm-debug.log
*/**/yarn-debug.log
*/**/yarn-error.log
*/**/lerna-debug.log
*/**/lerna-debug.log.*
*/**/lerna-error.log
*/**/lerna-error.log.*
*/**/test-results.xml
*/**/test-results/
