body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	background: #f3f8ff;
	color: #333;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}
