.tokenList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 20rem;
  margin-top: 1rem;
  overflow-y: auto;
}

.tokenItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tokenItem svg {
  width: 2rem;
  height: 2rem;
}

.tokenItem:hover {
  background-color: var(--color-surface-hover);
}

.tokenItem.selected {
  background-color: var(--color-primary-light);
}

.tokenItemLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tokenItemRight {
  display: flex;
  align-items: center;
}
