.innerInput {
  position: unset;
  padding-left: 0;
  padding-right: 0;

  &::placeholder {
    color: var(--mantine-color-gray-4);
  }

  &:focus {
    border-color: var(--mantine-color-primary-3);
  }

  &:disabled {
    background-color: var(--mantine-color-gray-1);
  }

  &[data-error='true'] {
    border: 1px solid var(--mantine-color-red-3);
  }
}

.input {
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  min-width: 260px;
  font-size: 14px;
  line-height: 20px;
  height: auto;
  border-color: var(--mantine-color-gray-5);

  &::placeholder {
    color: var(--mantine-color-gray-4);
  }

  &:focus {
    border-color: var(--mantine-color-primary-3);
  }

  &:disabled {
    background-color: var(--mantine-color-gray-1);
  }

  &[data-error='true'] {
    color: var(--mantine-color-gray-8);
    border: 1px solid var(--mantine-color-red-3);
  }
}

.section {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  right: 12px;
  background-color: white;
}

.visibilityToggle {
  width: auto;
  
  &:hover:not([data-loading]):not(:disabled):not([data-disabled]) {
    color: transparent;
    background-color: transparent;
  }
}
