.input {
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  min-width: 260px;
  font-size: 14px;
  line-height: 20px;
  height: auto;
  border-color: var(--mantine-color-gray-5);

  &::placeholder {
    color: var(--mantine-color-gray-4);
  }

  &:focus {
    border-color: var(--mantine-color-primary-3);
  }

  &:disabled {
    background-color: var(--mantine-color-gray-1);
  }

  &[data-error='true'] {
    border: 1px solid var(--mantine-color-red-3);
  }
}

.day {
  color: var(--mantine-color-black);
  font-size: 18px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0 4px;
  width: 40px;
  height: 40px;

  &[data-selected] {
    color: var(--mantine-color-white);
    border-radius: 50%;
  }

  &:disabled, &[data-outside] {
    color: var(--mantine-color-gray-5);
  }
}

.calendarHeader {
  max-width: unset;
}

.calendarHeaderControl {
  order: 1;

  svg {
    width: 24px !important;
    height: 24px !important;
    color: var(--mantine-color-primary-8)
  }
}

.calendarHeaderLevel {
  justify-content: flex-start;
  margin-left: 8px;
  font-weight: 700;
  font-size: 16px;
}

.weekday {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--mantine-color-gray-5);
  height: 40px;
}