.currency-swap-form {
  max-width: 400px;
  margin: auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
}

.selOpt{
  display: flex;
}

.form-group input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.submit-button {
  padding: 0.5em 2em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  font-size: 0.8em;
}
